<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
">

    <bean id="beanPostProcessor" class="bean.MyBeanPostProcessor">
    </bean>

    <bean id="instantiationAwareBeanPostProcessor" class="bean.MyInstantiationAwareBeanPostProcessor">
    </bean>

    <bean id="beanFactoryPostProcessor" class="bean.MyBeanFactoryPostProcessor">
    </bean>

    <bean id="person" class="bean.Person" init-method="myInit"
          destroy-method="myDestory" scope="singleton" />

    <bean id="student" class="bean.Student" init-method="myInit"
          destroy-method="myDestory" scope="singleton" />

</beans>